/* Nur für unsere Testumgebung */

body {
    margin: 0;
}

.game-area {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    box-sizing: border-box;
}

.card-container {
    width: min(92vw, 46vh, 400px);
}